<!--The content below is only a placeholder and can be replaced.-->
<h1>Students Information</h1>
<div *ngIf="undefined === restItems">Loading...</div>
<div *ngIf="undefined !== restItems">
  <div>
    <h2>Filters</h2>
    <div *ngIf="showS">
      <label>Student Name</label>
      <input [(ngModel)]='Register.Student' placeholder="Student's Name"/>
    </div>
    <div *ngIf="showLA">
        <label>Language & Arts</label>
        <input [(ngModel)]='Register.LanguageAndArts' placeholder="Language & Arts"/>
    </div>
    <div *ngIf="showSC">
        <label>Science</label>
        <input [(ngModel)]='Register.Science' placeholder="Science"/>
    </div>
    <div *ngIf="showSS">
        <label>Social Studies</label>
        <input [(ngModel)]='Register.SocialStudies' placeholder="Social Studies"/>
    </div>
    <div *ngIf="showM">
        <label>Maths</label>
        <input [(ngModel)]='Register.Maths' placeholder="Maths"/>
    </div>
  </div>
  <div>
      <ng-multiselect-dropdown
      [data]="dropdownList"
      [settings]="dropdownSettings"
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="onItemSelect($event)">
    </ng-multiselect-dropdown>
  </div>
  <div>
    <button (click)="getRestItemsByFilters(
      Register.Student,
      Register.LanguageAndArts,
      Register.Science,
      Register.SocialStudies,
      Register.Maths)">Filter</button>

    
  </div>
  <ag-grid-angular 
    style="width: 80vw;height: 220px;" 
    class="ag-theme-balham" 
    [rowData]="restItems"
    [columnDefs]="columnDefs"
    [enableSorting]="true">
  </ag-grid-angular>
</div>